* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f5f5f5;
    /*font-family: 'Lato', sans-serif;*/
    margin: 0;
    padding: 0;
}

header {
    background: rgba(0,0,0,0.9);
    width: 100%;
    position: fixed;
    z-index: 100;
  }

/* Socalo inferior--------------------------*/
.socalo{
    text-align:center;
    margin:10px auto;
}
/* titulos y lineas--------------------------*/
.tituloLinea{
    justify-content: center;
    display: grid;
    grid-column-gap:5rem;
    grid-template-columns: repeat(1, 1230px); 
    font-family: 'Lato', sans-serif;
    color: #8b8b8b;
    font-size: 1.4rem;
    line-height: 15px; 
    padding-top: 50px; 

}
.tituloLinea hr{
    height: 1px;
    background-color:rgb(230, 230, 230);
    margin-top: -5px;
    margin-bottom: 12px;
      
}

/*imagen corporativa Logo-----------------------*/
.logocorpo img{
    display:block;
    margin:auto;
    padding-top:20px;
    width: 80px;    
}
.logoTexto p{
    font-family: 'Chelsea Market';
    font-size: 2em;
    text-align: center;
    color: rgb(130, 192, 166);
    margin-top: -10px;
}
.logoparrafo p{
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    text-align: center;
    color: rgb(130, 192, 166);
    margin-top: -22px;
}


/*Isotipos-----------------------------------*/
.categoriasIconos{ 
    justify-content: center;
    display: grid;
    grid-column-gap:7rem;
    grid-template-columns: repeat(4, 90px);   
}

.texto1{
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 0.9em;
    padding-top: 5px;
    color: rgb(104, 104, 104);
}
.categoriasIconos img {
    display:block;
    margin:auto;
    width: 80%;
}
.texto2{
    font-family: 'Lato', sans-serif;
    font-size: 0.8em;
    margin-top: -10px;
    color: rgb(104, 104, 104);
}
button{
    display:block;
    margin:auto;   
}
.btn{
    font-size: 80%;
    height: 31px; 
    border-color: rgb(196, 196, 196);
    
}
.btn-outline-secondary:hover{
    background-color: rgb(155,155,155);
    border-color: rgb(155,155,155);   
}
/*--------------------------------------------------*/

/*---------Titulos-----------------------*/
.logoTextoMedio p{
    font-family: 'Chelsea Market';
    font-size: 2.5em;
    text-align: center;
    color: rgb(130, 192, 166);
    margin-top: 50px;
    margin-bottom: 0px;
    
}
.logoparrafoMedio p{
    font-family: 'Lato', sans-serif;
    font-size: 1.5em;
    text-align: center;
    color: rgb(155,155,155);
    
       
} 
/*---------------------------------------------*/


/*-----------Categorias Productos--------------*/
.categoriasProductos{
    justify-content: center;
    display: grid;
    grid-column-gap:0.5rem;
    grid-row-gap: 0.5rem;
    grid-template-columns: repeat(6,200px);
    /*padding-bottom: 35px;*/  
}
.btn-dark{
    background-color: rgb(130, 192, 166);
    border-color: rgb(130, 192, 166);
     
}
.btn-dark:hover {
        color:rgb(255, 255, 255);
        background-color: rgb(155,155,155);
        border-color: rgb(196, 196, 196);        
}
.card-body{
    text-align: center;   
}

/*----------------------------------------------*/

/*-----------Productos Destacados--------------*/
.productosDestacados{
    justify-content: center;
    display: grid;
    grid-column-gap:0.5rem;
    grid-template-columns: repeat(6,200px);
    /*padding-bottom:30px;*/

}
.btn-secondary{
    background-color: rgb(130, 192, 166);
    border-color: rgb(130, 192, 166);    
}
.btn-secondary:hover {
        color:rgb(255, 255, 255);
        background-color: rgb(155,155,155);
        border-color: rgb(155,155,155);        
}
.productosDestacados h5{
    margin-bottom: 0px;
}
/*--------------------------------*/

/*-----------Faqs--------------*/
.faqs{
    justify-content: center;
    display: grid;
    grid-column-gap:0.5rem;
    grid-template-columns: repeat(4,300px);
    padding-bottom:0px;
}
.fecha h6{
    position: absolute;
    margin: 8px 0px 0px 8px;
    padding: 10px 10px 10px 10px;
    background-color: rgb(130, 192, 166);
    text-align: center;
    color: #fff;
}
.fecha img{
    width: 300px;
    position: absolute;
}
.card-faqs{
    padding-top:230px;
    padding-right:20px;
}

.card-faqs p{
    line-height: 1.8rem;
}
/*--------------------------------*/
/*---------------Adoptar-----------------*/
.adoptar{
    padding-bottom: 100px;
}
.adoptar ul{
    justify-content: center;
    display: grid;
    grid-column-gap:0.5rem;
    grid-row-gap: 0.5rem;
    grid-template-columns: repeat(6, 198px); 
}
.adoptar ul li{
    background-color: rgb(130, 192, 166);
    
}
.sobre:hover{
    background-color:rgb(155,155,155);
    
}
.logoTextoMedioAdoptar p {
    font-family: 'Chelsea Market';
    font-size: 2.5em;
    text-align: center;
    color: rgb(130, 192, 166);
    margin-top: 0px;
    margin-bottom: 15px;
}
/*-----------Contacto-------------------------------------------------------------------*/
.contacto{
    justify-content: center;
    display: grid;
    grid-column-gap:0.5rem;
    grid-template-columns: 300px 600px 300px;
    padding-bottom:30px;
    background-color: #c5c5c5;   
}
.contacto form{
    background-color: none;
    border-radius: none;
    display: flex;
    padding: 10px 20px 10px 20px;
    max-width: 60rem;
    width: 100%;
    border: none;
    padding-top: 50px;  
}
.form-grou {
  padding-left: 430px; 
}
.card-contacto{
    text-align: center;
    color: rgb(104, 104, 104);
    height: 420px;
    font-size:1.1em;
    padding-top: 90px;
}
.reg-formx{
    width: 600px;
    height: 400px
}

.textoContacto{
    font-family: 'Chelsea Market';
    font-size: 3rem;
    color: rgb(130, 192, 166);
    line-height: 10px;
    padding-top: 60px;
}
.textoContacto1{
    font-family: 'Chelsea Market';
    font-size: 2.8rem;
    color: rgb(130, 192, 166);
    
    
}
.textoContacto2{
    font-family: 'Chelsea Market';
    font-size: 2.8rem;
    color: rgb(130, 192, 166);
    
    
}
.textoContacto3{
    font-family:'Chelsea Market';
    font-size: 1.5rem;
    color: rgb(130, 192, 166);
    
}
.textoContacto4{
    font-family:'Chelsea Market';
    font-size: 1.5rem;
    color: rgb(104, 104, 104);
    
}

/*-----------Formulario de Registro---------------*/

/* CLASSES FORM REGISTRO*/


.reg-form {
    border-radius: 5px;
    color: rgb(104, 104, 104);
    display: flex;
    flex-direction: column;
    font-size: 18px;
    margin-top: 20px; 
    padding: 0px;
    width: 100%;
    
}
.form {
    /*background-color: rgb(255, 255, 255);*/
    border-radius: 5px;
    display: flex;
    padding: 10px 20px 10px 20px;
    max-width: 60rem;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.125);
    
      
}
.alert {
    background-color:  rgb(155,155,155);
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
}
.error-carga {
    margin-top: 200px;
    margin-left: 640px;
}
/* LÍNEA 1811 DEL CSS DE BOOTSTRAP */
.form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d6d6d6;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
/* LÍNEA 1837 DEL CSS DE BOOTSTRAP */
small{
    padding-bottom: 10px;
}
.control-label{
    text-align: left;
}
.form-btn{
    background-color:rgb(130, 192, 166);
    color: rgb(255, 255, 255);
    height: 1.8rem;
    line-height: 1rem;
    text-align: center;
    vertical-align: middle;
    width: 100px;
    
}
.form-btn:hover, .form-btn:focus{

    background-color: rgb(155,155,155);
    color: rgb(255, 255, 255);  
}
.form-control:focus {
    color:#505050 ;
    background-color: #fff;
    border-color: rgb(130, 192, 166);
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(130, 192, 166);
}
.form-group{
    align-content: center;
    display: flex;
}

/*-----------Footer--------------*/

.footer-bs {
    background-color: #3c3d41;
	padding: 60px 40px;
	color: rgba(255,255,255,1.00);
	margin-bottom: 20px;
	border-bottom-right-radius: 6px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 6px;
}
.footer-bs .footer-brand, 
.footer-bs .footer-nav, 
.footer-bs .footer-social, 
.footer-bs .footer-ns { 
    padding:10px 25px; 
}
.footer-bs .footer-nav, 
.footer-bs .footer-social, 
.footer-bs .footer-ns {
     border-color: transparent; 
}
.footer-bs .footer-brand h2 {
    margin:0px 0px 10px; 
}
.footer-bs .footer-brand p {
    font-size:12px;
    color:rgba(255,255,255,0.70); 
}
.footer-bs .footer-nav ul.pages {
    list-style:none; 
    padding:0px; 
}
.footer-bs .footer-nav ul.pages li {
    padding:5px 0px;   
}
.footer-bs .footer-nav ul.pages a {
    color:rgba(255,255,255,1.00);
    text-transform:uppercase;
    font-family:'Lato', sans-serif;    
}
.footer-bs .footer-nav ul.pages a:hover {
    color:rgba(255,255,255,0.80);
    text-decoration:none; 
}
.footer-bs .footer-nav h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom:10px;
}

.footer-bs .footer-nav ul.list {
    list-style:none;
    padding:0px;
}
.footer-bs .footer-nav ul.list li {
    padding:5px 0px;
    
}
.footer-bs .footer-nav ul.list a {
    color:rgba(255,255,255,0.80);
    
}
.footer-bs .footer-nav ul.list a:hover {
    color:rgba(255,255,255,0.60); 
        text-decoration:none;
}

.footer-bs .footer-social ul {
    list-style:none;
    padding:0px;
    
}
.footer-bs .footer-social h4 {
	font-size: 15px;
	text-transform: uppercase;
    letter-spacing: 3px;
    font-family:'Lato', sans-serif;
}
.footer-bs .footer-social li {
    padding:5px 4px;
}
.footer-bs .footer-social a {
    color:rgba(255,255,255,1.00);
    font-family:'Lato', sans-serif;
    margin-left: 10px;
}
.footer-bs .footer-social a:hover {
    color:rgba(255,255,255,0.80);
    text-decoration:none;
}

.footer-bs .footer-ns h4 {
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 3px;
    margin-bottom:10px;
    font-family:'Lato', sans-serif;
}
.footer-bs .footer-ns p {
    font-size:13px;
    color:rgba(255,255,255,0.70);
    font-family:'Lato', sans-serif;
}

.input-group-btn{
    margin-left: 8px;
}
/*imagen corporativa Footer-----------------------*/
.logocorpoFooter img{
    display:block;
    margin:auto;
    padding-top: 5%;
    width: 20%;     
}
.logoTextoFooter p{
    font-family: 'Chelsea Market';
    font-size: 1.3em;
    text-align: center;
    color: rgb(130, 192, 166);
    margin-top: 0px;
}
.logoparrafoFooter p{
    font-family: 'Lato', sans-serif;
    font-size: 0.8em;
    text-align: center;
    color: rgb(130, 192, 166);
    margin-top: -20px;
    
}

@media (min-width: 768px) {
    .footer-bs .footer-nav,
    .footer-bs .footer-social,
    .footer-bs .footer-ns{
            border-left:solid 1px rgba(255,255,255,0.10);
    }
}

/*----------------------------------*/

.caption{
    border-radius: 5px;
    color: #FFF;
    left: 30px;
    top: 30px;
}
.caption{
    padding: 15px 15px 15px 15px;
}
.caption:hover{
    background-color: rgba(255, 255, 255, 0.25);
    color: #323232;
}

.carousel {
    display: flex;
    padding-bottom: 10px;
    padding-top: 60px;
}

/*titulos carrousel-----------------------*/
.carousel-title { 
    color: rgb(255, 255, 255);
    font-family: 'Chelsea Market';
    font-size: 2.5em;
    padding-bottom: 50px;
}
/* Carousel Bootstrap CSS line 5935 */
.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 0;
    bottom: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 15%;
    color: #323232;
    text-align: center;
    opacity: 0.5;
}
.carousel-control-prev:hover, .carousel-control-prev:focus,
.carousel-control-next:hover,
.carousel-control-next:focus {
    color: rgb(130, 192, 166);
    text-decoration: none;
    outline: 0;
    opacity: .9;
}
.carousel-indicators li {
    position: relative;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    margin-right: 5px;
    margin-left: 5px;
    text-indent: -999px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
}
.carousel-indicators li::before {
    position: absolute;
    top: -10px;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 10px;
    content: "";
}
.carousel-indicators li::after {
    position: absolute;
    bottom: -10px;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 10px;   
}
.conteiner-flex{
    align-items: center;
    border-radius: 15px;
    display: flex;
    justify-content: none; /*space-arround ATENCION.... rompe con el form de contacto.....*/
    padding-bottom: 1rem;
}

.conteiner-flex1 {
    align-items: center;
    background-color: #323232;
    display: flex;
    justify-content: center;
}

.container-fluid {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.i {
    /* border-left: 1px solid #FFF; */
    display: block;
    color: #fff;
    padding-left: 10px;
}

.item a{
    color: #fff;
    padding-bottom: 10px;
    padding-top: 20px;
}
.item a:hover{
    color: #323232;
    text-decoration: none;
}
.item a img{
    margin-top: 10px;
}

.links {
    color: #FFF;
    display: inline-block;
    /* font-weight: bold; */
    list-style: none;
    opacity: 0.5;
    text-decoration: none;
}
.links:hover, strong:hover {
    color: rgb(130, 192, 166);
    font-size: 1rem;
    font-weight: bolder;
    list-style: none;
    opacity: 1;
    text-decoration: none;
}

/* .login-box{
    padding-top: 8px;
    padding-left: 20px;
} */

.navbar {
    position:fixed;
    background-color: #323232;
    width: 100%;
}

.navbar-brand {
    color: #fff;
}
.navbar-brand:hover {
    color: rgb(130, 192, 166);
    font-weight: bolder;
}

.nav-link {
    color: #fff;
}
.nav-link:hover{
    color: rgb(130, 192, 166);
    font-weight: bolder;
}

/* .navbar-toggler{
    display: none;
} */

.redes-top {
    align-items: center;
    display: flex;
    height: 3rem;
    justify-content: space-evenly;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

::placeholder{ /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #323232;
    padding-left: 15px;
    opacity: 0.75; /* Firefox */
}
::placeholder:focus{
    color: #fff;
}

.social-icon{
    /*display: inline-block;*/
    /* display: space-between; */
    /* margin: 0.5rem 0rem 0.5rem 1rem; */
    opacity: 0.5;
    width: 2rem;
}
.social-icon:last-child {
    padding-left: 5px;
}
.social-icon:hover, .social-icon:focus{
    opacity: 1;
    width: 2.2rem;
}


/*-------------------Media Hernan-----------------*/
@media (max-width: 909.98px){

    /*imagen corporativa----------------------------------------------------*/
    .logocorpo img{
        padding-top:80px;
        width: 60px;     
}
    /*categorias iconos-----------------------------------------------------*/
    .categoriasIconos{ 
        grid-column-gap:3rem;
        grid-row-gap: 1rem;
        grid-template-columns: repeat(2, 90px);   
    }
    /* titulos y lineas------------------------------------------------------*/
    .tituloLinea{
        grid-column-gap:5rem;
        grid-template-columns: repeat(1, 360px); 
        font-size: 1rem;
        line-height: 1px;  
    }
    .tituloLinea hr{
        height: 1.5px;
      
    }
    /*-----------Categorias Productos---------------------------------------*/
    .categoriasProductos{
        grid-column-gap:0.2rem;
        grid-row-gap: 0.2rem;
        grid-template-columns: repeat(2,180px);
    }
    /*-----------Productos Destacados----------------------------------------*/
    .productosDestacados{
        grid-column-gap:0.2rem;
        grid-template-columns: repeat(2,180px);
        margin-bottom:50px;
    }
    /*-----------Faqs---------------------------------------------------------*/
    .faqs{
        grid-column-gap:0.2rem;
        grid-template-columns: repeat(1, 300px);
    }
    /*---------Titulos--------------------------------------------------------*/
    .logoTextoMedio p{
        font-size: 1.5em;
        margin-top: 25px;
    }
    /*---------Adoptar--------------------------------------------------------*/
    .adoptar ul{
        justify-content: center;
        display: grid;
        grid-column-gap:0.1rem;
        grid-row-gap: 0.1rem;
        grid-template-columns: repeat(6, 55px); 
    }
    .logoTextoMedioAdoptar p {
        font-size: 1.7em;
    }
    /*-----------Contacto-------------------------------------------------------------------*/

.contacto{
    justify-content: center;
    display: grid;
    grid-column-gap:0rem;
    grid-template-columns: repeat(1, 300px);
    padding-bottom: 30px;
     
}
.contacto form{
    padding-left: 30px;
    padding-top: 0px;  
}

.form-grou {
  padding-left: 100px; 
}
.card-contacto{
    height: 100px;
    font-size: 1rem;
    padding-top: 60px;
    padding-bottom: 245px;
}
.reg-formx{
    width: 400px;
    height: 400px
}
.textoContacto{
    font-size: 2rem;
    line-height: 10px;
    padding-top: 0px;
}
.textoContacto1{
    font-size: 1.8rem;   
}
.textoContacto3{

    font-size: 1.3rem;   
}
.textoContacto4{
    font-size: 1.5rem;
    
}


}

@media (max-width: 767.98px){
    
    .row, .container-fluid{
        display: block;
        justify-content: center;
        padding-top: 20px;
    }

    .col-md-4, .col-12{
        margin: 0%;
        padding: 0px;
    }
}

@media (max-width: 767.98px) {
    .navbar-expand-md > .container,
    .navbar-expand-md > .container-fluid {
      padding-right: 0;
      padding-left: 0;
    }
  }
  
@media (min-width: 768px) {
.navbar-expand-md {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
.navbar-expand-md .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
}
.navbar-expand-md .navbar-nav .dropdown-menu {
    position: absolute;
}
.navbar-expand-md .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}
.navbar-expand-md > .container,
.navbar-expand-md > .container-fluid {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}
.navbar-expand-md .navbar-collapse {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
}
.navbar-expand-md .navbar-toggler {
    display: none;
}

}

@media (max-width: 559.98px) {
    
    .carousel {
        display: none;
    }
}

